# IDE
.idea/
*.iml
.vscode/

# Gradle
.gradle/
build/
**/build/

# Java
*.class
out/
target/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Docker local
*.pid