SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/smart_event
SPRING_DATASOURCE_USERNAME=change_me
SPRING_DATASOURCE_PASSWORD=change_me

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=change_me
SPRING_RABBITMQ_PASSWORD=change_me

APP_MINIO_ENDPOINT=http://localhost:9000
APP_MINIO_ACCESS_KEY=change_me
APP_MINIO_SECRET_KEY=change_me
APP_MINIO_BUCKET=smart-event

JWT_SECRET=ThayTheBangChuoiSecretSieuBaoMatCuaRiengBanNhe1234567890
JWT_ACCESS_EXPIRATION=900000
JWT_REFRESH_EXPIRATION=604800000
